.btn {
  width: 10rem;
  height: 3rem;
  border: 2px solid $hover-green;
  margin-left: 20rem;
  margin-top: 6rem;
  background-color: $azuro;
  border-radius: 1.35rem;
  color: $gray;
  font-size: 1.25rem;
  box-shadow: 0 1.25rem 2.25rem 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;

  &:hover {
    background-color: $hover-green;
    color: $linen;
  }
}
