@keyframes move-left {
  0% {
    transform: scale(-1);
  }
  25% {
    transform: scale(1);
    background-color: $yellow;
  }
  50% {
    transform: scale(-2);
    background-color: $lime;
  }
  100% {
    transform: scale(2);
    background-color: $green;
  }
}

.btn1 {
  border: 2px solid $hover-green;
  background-color: $azuro;
  border-radius: 1.35rem;
  color: $gray;
  font-size: 1.25rem;
  box-shadow: 0 1.25rem 2.25rem 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 0.5rem 3rem;
  transition: 0.3s;

  &--animate {
    &:active {
      animation: move-left 2s ease forwards;
    }
  }

  &:hover {
    background-color: $hover-green;
    color: $linen;
  }

  //colors
}
