.checkbox {
  margin-left: 20rem;
  margin-top: 3rem;
  border: 1px solid cadetblue;
  width: 10rem;
  color: rgb(59, 161, 161);
  font-size: 1.5rem;

  #check {
    background-color: rgb(23, 230, 51);
  }
}
