* {
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 1850px;
  margin: 4rem auto;
  padding: 2rem;

  border: 2px solid $hover-green;

  & h2 {
    font-size: 2.5rem;
    color: $hover-green;
    text-align: center;
  }

  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__numb {
    font-size: 3rem;
  }

  &__card {
    width: 40%;
  }
}
