.flex {
  border: 1px solid $hover-green;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;

  &__first {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 1.3rem;
  }

  &__box {
    justify-content: space-between;
  }

  &__box2 {
    justify-content: end;
  }

  &__box3 {
    justify-content: center;
  }

  &__icon {
    width: 2rem;
  }
}
