.form__field {
  margin-top: 3rem;

  &__label {
    font-size: 1.15rem;
    color: $gray;
  }

  &__fname {
    padding: 0.7rem;
  }

  &__submit {
    margin-top: 0.5rem;
    background-color: $gray;
    color: $linen;
    border: 1px solid $light-gray;
    border-radius: 1rem;
    padding: 0.2rem 0.9rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $hover-green;
    }
  }
}
