.todo {
    display: flex;
    align-items: center;
    margin: 2rem auto;
  
   

    &__box{
      background-color:$blue-green;
      width: 35%;
      margin: 4rem auto;
    }

    &__input {
      width: 15rem;
      padding: 5px;
      margin-right: 10px;
      margin-top: 3rem;
      margin-left: 5rem;
    }

    &__button {
      padding: 0.4rem 0.8rem ;
      margin-top: 3rem;
    }

    &__check{
      width: 1.5rem;
      margin-right: 2rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      
    }

    &__label{
      font-family: "Caveat", cursive ;
      font-size: 1.3rem;
      cursor: pointer;
      transition: all 250ms ease ;

      &:hover{
        font-size: 1.5rem;
      }
    }
    &__close {
      width: 1.3rem;
      height: 2rem;
      margin-left: 2rem;
      cursor: pointer;
      transition: 0.2s;

      &:hover{
        width: 1.7rem;
      }

      &:active{
        background-color: brown;
      }
    }
    &__info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:1rem auto;
      background-color: $white-smoke;
      padding: 0.2rem 1rem;
      width: 20rem;

    
    }
  }

