//colors
$black: #000;
$header-background: #ebebeb;
$light-green: rgb(162, 255, 249);
$light-pink: rgb(251, 174, 206);
$light-gray: lightgrey;
$gray: #808080;
$hover-green: #40b8a8;
$hover-pink: rgb(194, 95, 191);
$azuro: rgb(0, 255, 255);
$linen: rgb(250, 240, 230);
$blue-green: rgb(23, 214, 214);

//breakpoints
$media-sm: 37.5em; //600px
$media-md: 48em; //768px
$media-lg: 62em; //992px
$media-xl: 75em; //1200px
